#### Capstone Project
#### Francky Ciceron
#### DAB July 2025

In [14]:
import pandas as pd
import numpy as np
df = pd.read_csv("PA_Higher_Education_cleaned.csv")

In [10]:
df.columns.tolist()

['Name',
 'Street',
 'City',
 'State',
 'Zip Code',
 'Website',
 'Duration',
 'Type of Ownership',
 'Awards offered',
 'Campus setting',
 'Campus housing',
 'Student population',
 'Undergraduate students',
 'Graduation Rate',
 'Transfer-Out Rate',
 'Cohort Year',
 'Net Price ',
 'Largest Program',
 'IPEDS ID',
 'OPE ID']

In [11]:
# Rename the Net price column
df.rename(columns={'Net Price ': 'Net Price'}, inplace=True)

In [12]:
print(df.columns.tolist())

['Name', 'Street', 'City', 'State', 'Zip Code', 'Website', 'Duration', 'Type of Ownership', 'Awards offered', 'Campus setting', 'Campus housing', 'Student population', 'Undergraduate students', 'Graduation Rate', 'Transfer-Out Rate', 'Cohort Year', 'Net Price', 'Largest Program', 'IPEDS ID', 'OPE ID']

In [2]:
# Look at the Data Frame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321 entries, 0 to 320
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    321 non-null    object
 1   Street                  321 non-null    object
 2   City                    321 non-null    object
 3   State                   321 non-null    object
 4   Zip Code                321 non-null    object
 5   Website                 321 non-null    object
 6   Duration                321 non-null    object
 7   Type of Ownership       321 non-null    object
 8   Awards offered          303 non-null    object
 9   Campus setting          321 non-null    object
 10  Campus housing          303 non-null    object
 11  Student population      303 non-null    float64
 12  Undergraduate students  288 non-null    float64
 13  Graduation Rate         272 non-null    object
 14  Transfer-Out Rate       117 non-null    object
 15  Cohort Year             321 non-null    object
 16  Net Price               270 non-null    object
 17  Largest Program         321 non-null    object
 18  IPEDS ID                321 non-null    int64
 19  OPE ID                  316 non-null    float64
dtypes: float64(3), int64(1), object(16)
memory usage: 50.3+ KB

In [3]:
# Look at the first rows
df.head()

,Name,Street,City,State,Zip Code,Website,Duration,Type of Ownership,Awards offered,Campus setting,Campus housing,Student population,Undergraduate students,Graduation Rate,Transfer-Out Rate,Cohort Year,Net Price,Largest Program,IPEDS ID,OPE ID
0,Academy of Vocal Arts,1920 Spruce St,Philadelphia,Pennsylvania,19103-6685,www.avaopera.org/,4-year,Private not-for-profit,Postbaccalaureate certificate,City: Large,No,NaN,NaN,NaN,NaN,Fall 2017,NaN,-,210508,3353300.0
1,Albright College,1621 N. 13th St.,Reading,Pennsylvania,19612-5234,www.albright.edu/home/,4-year,Private not-for-profit,Bachelor's degree|Postbaccalaureate certificat...,City: Small,Yes,1652.0,1328.0,42%,NaN,Fall 2017,"$22,116",-,210571,322900.0
2,Allegheny College,520 N Main St,Meadville,Pennsylvania,16335-3902,https://allegheny.edu/,4-year,Private not-for-profit,Bachelor's degree,Town: Distant,Yes,1231.0,1231.0,67%,NaN,Fall 2017,"$27,929",-,210669,323000.0
3,All-State Career School,50 West Powhattan Avenue,Essington,Pennsylvania,19029,www.allstatecareer.edu/,2-year,Private for-profit,Less than one year certificate|One but less th...,Suburb: Large,No,831.0,831.0,46%,NaN,Fall 2020,"$19,634",Truck and Bus Driver/Commercial Vehicle Operat...,210599,2495500.0
4,All-State Career School-Pittsburgh,1200 Lebanon Road,West Mifflin,Pennsylvania,15122,https://www.allstatecareer.edu/,< 2-year,Private for-profit,Less than one year certificate|One but less th...,Suburb: Large,No,418.0,418.0,64%,NaN,2020-21,"$12,740",Truck and Bus Driver/Commercial Vehicle Operat...,418658,3493302.0

In [4]:
# Get the summary statistics
df.describe()

       Student population  Undergraduate students      IPEDS ID        OPE ID
count          303.000000              288.000000  3.210000e+02  3.160000e+02
mean          2144.630363             1754.447917  1.768324e+06  1.333338e+06
std           5011.417542             3883.261708  6.805113e+06  1.304078e+06
min              7.000000                7.000000  2.104920e+05  1.459350e+05
25%             90.500000               90.000000  2.134550e+05  3.329015e+05
50%            397.000000              399.500000  2.156190e+05  6.695000e+05
75%           2158.500000             1780.500000  4.184540e+05  2.207900e+06
max          50399.000000            42223.000000  4.750331e+07  4.303200e+06

In [5]:
# Look at the missing values
df.isnull().sum()

Name                        0
Street                      0
City                        0
State                       0
Zip Code                    0
Website                     0
Duration                    0
Type of Ownership           0
Awards offered             18
Campus setting              0
Campus housing             18
Student population         18
Undergraduate students     33
Graduation Rate            49
Transfer-Out Rate         204
Cohort Year                 0
Net Price                  51
Largest Program             0
IPEDS ID                    0
OPE ID                      5
dtype: int64

In [6]:
# Convert "Graduation Rate" from percentage string to float
df['Graduation Rate'] = df['Graduation Rate'].str.replace('%','').astype(float)

In [33]:
df.columns = df.columns.str.strip()

In [16]:
# Fill "Campus Housing" column with default values
df['Campus housing'] = df['Campus housing'].fillna('Unknown')

In [20]:
#Replace "-" in "Largest Program" column by NaN
df['Largest Program'] = df['Largest Program'].replace('-', np.nan)

In [21]:
df['Largest Program'].isnull().sum()

np.int64(214)

In [22]:
#Fill "largest Program" column with "Not reported"
df['Largest Program'] = df['Largest Program'].fillna('Not reported')

In [23]:
df['Largest Program'].isnull().sum()

np.int64(0)

In [31]:
'Net Price' in df.columns

False

In [32]:
print(df.columns.tolist())

['Name', 'Street', 'City', 'State', 'Zip Code', 'Website', 'Duration', 'Type of Ownership', 'Awards offered', 'Campus setting', 'Campus housing', 'Student population', 'Undergraduate students', 'Graduation Rate', 'Transfer-Out Rate', 'Cohort Year', 'Net Price ', 'Largest Program', 'IPEDS ID', 'OPE ID']

In [34]:
df.columns = df.columns.str.strip()

In [35]:
#Convert "Net Price" column to Float
df['Net Price'] = df['Net Price'].str.replace('$','', regex=False).str.replace(',','', regex=False).str.strip()
df['Net Price'] = pd.to_numeric(df['Net Price'], errors='coerce')

In [37]:
#Calculate the Median for the "Net Price" column
median_net_price = df['Net Price'].median()
print(f"Median Net Price: {median_net_price}")

Median Net Price: 19606.5

In [38]:
#Fil missing values in "Net Price" with Median
df['Net Price'] = df['Net Price'].fillna(median_net_price)

In [39]:
df['Net Price'].isnull().sum()

np.int64(0)

In [40]:
median_value = df['Net Price'].median()
(df['Net Price'] == median_value).sum()

np.int64(51)

In [41]:
# Replace NA in "Graduation Rate" and "Transfer-out Rate" columns
df['Graduation Rate'] = df['Graduation Rate'].replace('NA', np.nan)
df['Transfer-Out Rate'] = df['Transfer-Out Rate'].replace('NA', np.nan)

In [42]:
# Remove % and Strip whitespace
df['Graduation Rate'] = df['Graduation Rate'].str.replace('%','', regex=False).str.strip()
df['Transfer-Out Rate'] = df['Transfer-Out Rate'].str.replace('%','', regex=False).str.strip()

In [43]:
#Convert both columns to numeric
df['Graduation Rate'] = pd.to_numeric(df['Graduation Rate'], errors='coerce')
df['Transfer-Out Rate'] = pd.to_numeric(df['Transfer-Out Rate'], errors='coerce')

In [44]:
#Convert both columns to decimal
df['Graduation Rate'] = df['Graduation Rate'] / 100
df['Transfer-Out Rate'] = df['Transfer-Out Rate'] / 100

In [45]:
print(df[['Graduation Rate', 'Transfer-Out Rate']].dtypes)
df[['Graduation Rate', 'Transfer-Out Rate']].isnull().sum()

Graduation Rate      float64
Transfer-Out Rate    float64
dtype: object

Graduation Rate       49
Transfer-Out Rate    204
dtype: int64

In [47]:
#Fil "Graduation Rate" column with median
grad_median = df['Graduation Rate'].median()
df['Graduation Rate'] = df['Graduation Rate'].fillna(grad_median)

In [48]:
#Calculate the Median for "Student Population" and "Undergraduate Students"
student_pop_median = df['Student population'].median()
undergrad_median = df['Undergraduate students'].median()

print(f"Student population median: {student_pop_median}")
print(f"Undergraduate students median: {undergrad_median}")

Student population median: 397.0
Undergraduate students median: 399.5

In [49]:
#Convert empty cells with NaN
df['Student population'] = df['Student population'].replace('', np.nan)
df['Undergraduate students'] = df['Undergraduate students'].replace('', np.nan)

In [50]:
# Fill missing values with Median
df['Student population'] = df['Student population'].fillna(student_pop_median)
df['Undergraduate students'] = df['Undergraduate students'].fillna(undergrad_median)

In [51]:
df[['Student population', 'Undergraduate students']].isnull().sum()

Student population        0
Undergraduate students    0
dtype: int64

In [53]:
# Convert empty strings on "Awards offered" and "Campus housing columns"
df['Awards offered'] = df['Awards offered'].replace('', np.nan)
df['Campus housing'] = df['Campus housing'].replace('', np.nan)

In [54]:
#Fill missing values with "Unknown"
df['Awards offered'] = df['Awards offered'].fillna('Unknown')
df['Campus housing'] = df['Campus housing'].fillna('Unknown')

In [55]:
df[['Awards offered', 'Campus housing']].isnull().sum()

Awards offered    0
Campus housing    0
dtype: int64

In [56]:
# Replace NaN in Transfer-Out Rate column by "Unknown"
df['Transfer-Out Rate'] = df['Transfer-Out Rate'].apply(lambda x: 'Unknown' if pd.isna(x) else x)

In [59]:
df['Transfer-Out Rate'].head(10)

0    Unknown
1    Unknown
2    Unknown
3    Unknown
4    Unknown
5    Unknown
6       0.31
7    Unknown
8    Unknown
9        0.3
Name: Transfer-Out Rate, dtype: object

In [60]:
# Convert "Cohort Year" column to datetime formart
def convert_cohort(value):
    if pd.isna(value):
        return np.nan
    value = value.strip()
    if value.startswith('Fall'):
        year = value.split()[1]
        return pd.to_datetime(f'{year}-09-01')
    elif '-' in value:
        year = value.split('-')[0]
        return pd.to_datetime(f'{year}-09-01')
    else:
        return np.nan

df['Cohort Year Clean'] = df['Cohort Year'].apply(convert_cohort)

In [61]:
df[['Cohort Year', 'Cohort Year Clean']].head(10)
df['Cohort Year Clean'].isnull().sum()
df['Cohort Year Clean'].dtypes

dtype('<M8[ns]')

In [62]:
# Convert Blank to NaN in OPE ID column
df['OPE ID'] = df['OPE ID'].replace('', np.nan)

In [64]:
# Check for missing values
df.isnull().sum()

Name                      0
Street                    0
City                      0
State                     0
Zip Code                  0
Website                   0
Duration                  0
Type of Ownership         0
Awards offered            0
Campus setting            0
Campus housing            0
Student population        0
Undergraduate students    0
Graduation Rate           0
Transfer-Out Rate         0
Cohort Year               0
Net Price                 0
Largest Program           0
IPEDS ID                  0
OPE ID                    5
Cohort Year Clean         0
dtype: int64

In [66]:
df['OPE ID'] = df['OPE ID'].replace('', np.nan)

In [68]:
df.dtypes

Name                              object
Street                            object
City                              object
State                             object
Zip Code                          object
Website                           object
Duration                          object
Type of Ownership                 object
Awards offered                    object
Campus setting                    object
Campus housing                    object
Student population               float64
Undergraduate students           float64
Graduation Rate                  float64
Transfer-Out Rate                 object
Cohort Year                       object
Net Price                        float64
Largest Program                   object
IPEDS ID                           int64
OPE ID                           float64
Cohort Year Clean         datetime64[ns]
dtype: object

In [69]:
#Check for duplicates
df.duplicated().sum()

np.int64(0)

In [71]:
# Review unique values in categorical columns
df['Awards offered'].unique()
df['Campus housing'].unique()

array(['No', 'Yes', 'Unknown'], dtype=object)

In [72]:
# Check for outliers
df.describe()

,Student population,Undergraduate students,Graduation Rate,Net Price,IPEDS ID,OPE ID,Cohort Year Clean
count,321.000000,321.000000,321.000000,321.000000,3.210000e+02,3.160000e+02,321
mean,2046.632399,1615.154206,0.609673,20133.390966,1.768324e+06,1.333338e+06,2019-06-25 07:51:01.682243072
min,7.000000,7.000000,0.000000,1421.000000,2.104920e+05,1.459350e+05,2017-09-01 00:00:00
25%,100.000000,102.000000,0.520000,16303.000000,2.134550e+05,3.329015e+05,2017-09-01 00:00:00
50%,397.000000,399.500000,0.635000,19606.500000,2.156190e+05,6.695000e+05,2020-09-01 00:00:00
75%,1944.000000,1644.000000,0.750000,23210.000000,4.184540e+05,2.207900e+06,2020-09-01 00:00:00
max,50399.000000,42223.000000,1.000000,45518.000000,4.750331e+07,4.303200e+06,2023-09-01 00:00:00
std,4885.058023,3700.606351,0.201463,7313.871401,6.805113e+06,1.304078e+06,NaN

In [74]:
#Check for the first Top rows
df.head()

,Name,Street,City,State,Zip Code,Website,Duration,Type of Ownership,Awards offered,Campus setting,...,Student population,Undergraduate students,Graduation Rate,Transfer-Out Rate,Cohort Year,Net Price,Largest Program,IPEDS ID,OPE ID,Cohort Year Clean
0,Academy of Vocal Arts,1920 Spruce St,Philadelphia,Pennsylvania,19103-6685,www.avaopera.org/,4-year,Private not-for-profit,Postbaccalaureate certificate,City: Large,...,397.0,399.5,0.635,Unknown,Fall 2017,19606.5,Not reported,210508,3353300.0,2017-09-01
1,Albright College,1621 N. 13th St.,Reading,Pennsylvania,19612-5234,www.albright.edu/home/,4-year,Private not-for-profit,Bachelor's degree|Postbaccalaureate certificat...,City: Small,...,1652.0,1328.0,0.420,Unknown,Fall 2017,22116.0,Not reported,210571,322900.0,2017-09-01
2,Allegheny College,520 N Main St,Meadville,Pennsylvania,16335-3902,https://allegheny.edu/,4-year,Private not-for-profit,Bachelor's degree,Town: Distant,...,1231.0,1231.0,0.670,Unknown,Fall 2017,27929.0,Not reported,210669,323000.0,2017-09-01
3,All-State Career School,50 West Powhattan Avenue,Essington,Pennsylvania,19029,www.allstatecareer.edu/,2-year,Private for-profit,Less than one year certificate|One but less th...,Suburb: Large,...,831.0,831.0,0.460,Unknown,Fall 2020,19634.0,Truck and Bus Driver/Commercial Vehicle Operat...,210599,2495500.0,2020-09-01
4,All-State Career School-Pittsburgh,1200 Lebanon Road,West Mifflin,Pennsylvania,15122,https://www.allstatecareer.edu/,< 2-year,Private for-profit,Less than one year certificate|One but less th...,Suburb: Large,...,418.0,418.0,0.640,Unknown,2020-21,12740.0,Truck and Bus Driver/Commercial Vehicle Operat...,418658,3493302.0,2020-09-01

In [75]:
# Saving my file to CSV
df.to_csv('capstone_cleaned.csv', index=False)

In [76]:
# Merge PA County Table with the Cleaned Dataset
df_clean = pd.read_csv('capstone_cleaned.csv')
geo_table = pd.read_csv('PA_Zip_County.csv')

In [77]:
# Trim the Zip code in the cleaned dataset to keep only 5 digits
df_clean['Zip Code'] = df_clean['Zip Code'].astype(str).str[:5]

In [79]:
# Ensure Zip codes in County table are string
geo_table['ZIP Code'] = geo_table['ZIP Code'].astype(str)

In [81]:
#Join both table on Zip Code
df_merged = df_clean.merge(geo_table[['ZIP Code', 'County']], left_on='Zip Code', right_on='ZIP Code', how='left')
df_merged['County'] = df_merged['County'].astype(str) + ' County'

In [85]:
#Check for the new columns
df_merged.columns

Index(['Name', 'Street', 'City', 'State', 'Zip Code', 'Website', 'Duration',
       'Type of Ownership', 'Awards offered', 'Campus setting',
       'Campus housing', 'Student population', 'Undergraduate students',
       'Graduation Rate', 'Transfer-Out Rate', 'Cohort Year', 'Net Price',
       'Largest Program', 'IPEDS ID', 'OPE ID', 'Cohort Year Clean',
       'ZIP Code', 'County'],
      dtype='object')

In [87]:
# Drop the Zip Code column from the County Table
df_merged.drop(columns=['ZIP Code'], inplace=True)

In [88]:
# Check the first rows
df_merged.head()

,Name,Street,City,State,Zip Code,Website,Duration,Type of Ownership,Awards offered,Campus setting,...,Undergraduate students,Graduation Rate,Transfer-Out Rate,Cohort Year,Net Price,Largest Program,IPEDS ID,OPE ID,Cohort Year Clean,County
0,Academy of Vocal Arts,1920 Spruce St,Philadelphia,Pennsylvania,19103,www.avaopera.org/,4-year,Private not-for-profit,Postbaccalaureate certificate,City: Large,...,399.5,0.635,Unknown,Fall 2017,19606.5,Not reported,210508,3353300.0,2017-09-01,Philadelphia County County
1,Academy of Vocal Arts,1920 Spruce St,Philadelphia,Pennsylvania,19103,www.avaopera.org/,4-year,Private not-for-profit,Postbaccalaureate certificate,City: Large,...,399.5,0.635,Unknown,Fall 2017,19606.5,Not reported,210508,3353300.0,2017-09-01,Philadelphia County County
2,Academy of Vocal Arts,1920 Spruce St,Philadelphia,Pennsylvania,19103,www.avaopera.org/,4-year,Private not-for-profit,Postbaccalaureate certificate,City: Large,...,399.5,0.635,Unknown,Fall 2017,19606.5,Not reported,210508,3353300.0,2017-09-01,Philadelphia County County
3,Academy of Vocal Arts,1920 Spruce St,Philadelphia,Pennsylvania,19103,www.avaopera.org/,4-year,Private not-for-profit,Postbaccalaureate certificate,City: Large,...,399.5,0.635,Unknown,Fall 2017,19606.5,Not reported,210508,3353300.0,2017-09-01,Philadelphia County County
4,Albright College,1621 N. 13th St.,Reading,Pennsylvania,19612,www.albright.edu/home/,4-year,Private not-for-profit,Bachelor's degree|Postbaccalaureate certificat...,City: Small,...,1328.0,0.420,Unknown,Fall 2017,22116.0,Not reported,210571,322900.0,2017-09-01,Berks County County

In [89]:
#Remove duplicate county at the end of the county name
df_merged['County'] = df_merged['County'].str.replace(r'\sCounty$', '', regex=True)
df_merged['County'] = df_merged['County'] + ' County'

In [90]:
#Check the last 5 rows
df_merged.tail()

,Name,Street,City,State,Zip Code,Website,Duration,Type of Ownership,Awards offered,Campus setting,...,Undergraduate students,Graduation Rate,Transfer-Out Rate,Cohort Year,Net Price,Largest Program,IPEDS ID,OPE ID,Cohort Year Clean,County
580,YTI Career Institute-Altoona,3200 Pleasant Boulevard,Altoona,Pennsylvania,16601,www.yti.edu/,2-year,Private for-profit,Associate's degree,Suburb: Small,...,112.0,0.95,Unknown,Fall 2020,15182.0,Respiratory Care Therapy/Therapist,375939,3081900.0,2020-09-01,Blair County County
581,YTI Career Institute-Altoona,3200 Pleasant Boulevard,Altoona,Pennsylvania,16601,www.yti.edu/,2-year,Private for-profit,Associate's degree,Suburb: Small,...,112.0,0.95,Unknown,Fall 2020,15182.0,Respiratory Care Therapy/Therapist,375939,3081900.0,2020-09-01,Blair County County
582,YTI Career Institute-York,1405 Williams Road,York,Pennsylvania,17402,www.yti.edu/,2-year,Private for-profit,Less than one year certificate|One but less th...,Suburb: Midsize,...,497.0,0.41,Unknown,Fall 2020,11824.0,Veterinary/Animal Health Technology/Technician...,217077,2127400.0,2020-09-01,York County County
583,YTI Career Institute-York,1405 Williams Road,York,Pennsylvania,17402,www.yti.edu/,2-year,Private for-profit,Less than one year certificate|One but less th...,Suburb: Midsize,...,497.0,0.41,Unknown,Fall 2020,11824.0,Veterinary/Animal Health Technology/Technician...,217077,2127400.0,2020-09-01,York County County
584,YTI Career Institute-York,1405 Williams Road,York,Pennsylvania,17402,www.yti.edu/,2-year,Private for-profit,Less than one year certificate|One but less th...,Suburb: Midsize,...,497.0,0.41,Unknown,Fall 2020,11824.0,Veterinary/Animal Health Technology/Technician...,217077,2127400.0,2020-09-01,York County County

In [92]:
# Check for duplicate Zip code
geo_table['ZIP Code'].value_counts().head(10)

ZIP Code
19103    4
18509    4
17603    4
19063    4
17602    4
18104    3
19102    3
19104    3
17042    3
15122    3
Name: count, dtype: int64

In [94]:
# Drop duplicate Zip Code
geo_table = geo_table.drop_duplicates(subset='ZIP Code')

In [95]:
# Merge bothe table on Zip Code
df_merged = df_clean.merge(geo_table[['ZIP Code', 'County']], left_on='Zip Code', right_on='ZIP Code', how='left')

In [96]:
print(len(df_clean), len(df_merged))

321 321

In [97]:
#Clean up the county names
df_merged['County'] = df_merged['County'].str.replace(r'( County)+$', '', regex=True)
df_merged['County'] = df_merged['County'] + ' County'

In [100]:
df_merged.head()

,Name,Street,City,State,Zip Code,Website,Duration,Type of Ownership,Awards offered,Campus setting,...,Graduation Rate,Transfer-Out Rate,Cohort Year,Net Price,Largest Program,IPEDS ID,OPE ID,Cohort Year Clean,ZIP Code,County
0,Academy of Vocal Arts,1920 Spruce St,Philadelphia,Pennsylvania,19103,www.avaopera.org/,4-year,Private not-for-profit,Postbaccalaureate certificate,City: Large,...,0.635,Unknown,Fall 2017,19606.5,Not reported,210508,3353300.0,2017-09-01,19103,Philadelphia County
1,Albright College,1621 N. 13th St.,Reading,Pennsylvania,19612,www.albright.edu/home/,4-year,Private not-for-profit,Bachelor's degree|Postbaccalaureate certificat...,City: Small,...,0.420,Unknown,Fall 2017,22116.0,Not reported,210571,322900.0,2017-09-01,19612,Berks County
2,Allegheny College,520 N Main St,Meadville,Pennsylvania,16335,https://allegheny.edu/,4-year,Private not-for-profit,Bachelor's degree,Town: Distant,...,0.670,Unknown,Fall 2017,27929.0,Not reported,210669,323000.0,2017-09-01,16335,Crawford County
3,All-State Career School,50 West Powhattan Avenue,Essington,Pennsylvania,19029,www.allstatecareer.edu/,2-year,Private for-profit,Less than one year certificate|One but less th...,Suburb: Large,...,0.460,Unknown,Fall 2020,19634.0,Truck and Bus Driver/Commercial Vehicle Operat...,210599,2495500.0,2020-09-01,19029,Delaware County
4,All-State Career School-Pittsburgh,1200 Lebanon Road,West Mifflin,Pennsylvania,15122,https://www.allstatecareer.edu/,< 2-year,Private for-profit,Less than one year certificate|One but less th...,Suburb: Large,...,0.640,Unknown,2020-21,12740.0,Truck and Bus Driver/Commercial Vehicle Operat...,418658,3493302.0,2020-09-01,15122,Allegheny County

In [101]:
#Saving the merged dataset
df_merged.to_csv('PA_Higher_Education_with_county.csv', index=False)

In [102]:
# Drop the duplicate column "ZIP Code"
df_merged.drop(columns=['ZIP Code'], inplace=True)

In [103]:
# Resave the clean dataset
df_merged.to_csv('PA_Higher_Education_with_county.csv', index=False)