##### Francky Ciceron 
##### Week 9 Assignment 
##### Advanced Pandas Retail Chain Performance Analysis

In [1]:
import pandas as pd
import numpy as np
import glob

In [5]:
#1. Get all CSV file paths from a folder
csv_files = glob.glob("*.csv")

In [6]:
#2. Create a dictionary of DataFrames
dataframes = {file: pd.read_csv(file) for file in csv_files}

In [7]:
#3. Display the first few rows of each DataFrame
for file, df in dataframes.items():
    print(f"\n--- {file} ---")
    print(df.head())

--- customers_wk9_thurs.csv ---
   customer_id first_name last_name  age state  income registration_date  \
0            1       John     Smith   34    CA   75000        2022-01-15
1            2      Sarah   Johnson   28    NY   82000        2022-01-22
2            3    Michael     Brown   45    TX   95000        2022-02-03
3            4      Emily     Davis   31    FL   68000        2022-02-14
4            5      David    Wilson   52    IL  110000        2022-02-28

                     email
0     john.smith@email.com
1  sarah.johnson@email.com
2  michael.brown@email.com
3    emily.davis@email.com
4   david.wilson@email.com

--- products_wk9_thurs.csv ---
   product_id                   product_name           category  price  \
0           1  Wireless Bluetooth Headphones        Electronics  79.99
1           2         Organic Cotton T-Shirt           Clothing  24.99
2           3   Stainless Steel Water Bottle      Home & Garden  19.99
3           4          Leather Crossbody Bag        Accessories  89.99
4           5               Yoga Mat Premium  Sports & Outdoors  34.99

  launch_date       brand
0  2021-03-15   AudioTech
1  2021-04-20     EcoWear
2  2021-05-10   HydroLife
3  2021-06-01  StyleCraft
4  2021-06-15     FitZone

--- sales_wk9_thurs.csv ---
   sale_id  customer_id  product_id     transaction_date  quantity  \
0        1            1           1  2022-02-10 14:30:00         1
1        2            2           3  2022-02-15 10:15:00         2
2        3            3           5  2022-02-20 16:45:00         1
3        4            4           2  2022-02-25 11:20:00         3
4        5            5           4  2022-03-01 13:10:00         1

   total_amount
0         79.99
1         39.98
2         34.99
3         74.97
4         89.99

In [8]:
# See all keys (file names)
print(dataframes.keys())

dict_keys(['customers_wk9_thurs.csv', 'products_wk9_thurs.csv', 'sales_wk9_thurs.csv'])

In [9]:
customers_df = dataframes["customers_wk9_thurs.csv"]
products_df = dataframes["products_wk9_thurs.csv"]
sales_df = dataframes["sales_wk9_thurs.csv"]

In [10]:
# check first rows to make sure everything loaded correctly
print(customers_df.head())
print(products_df.head())
print(sales_df.head())

   customer_id first_name last_name  age state  income registration_date  \
0            1       John     Smith   34    CA   75000        2022-01-15
1            2      Sarah   Johnson   28    NY   82000        2022-01-22
2            3    Michael     Brown   45    TX   95000        2022-02-03
3            4      Emily     Davis   31    FL   68000        2022-02-14
4            5      David    Wilson   52    IL  110000        2022-02-28

                     email
0     john.smith@email.com
1  sarah.johnson@email.com
2  michael.brown@email.com
3    emily.davis@email.com
4   david.wilson@email.com
   product_id                   product_name           category  price  \
0           1  Wireless Bluetooth Headphones        Electronics  79.99
1           2         Organic Cotton T-Shirt           Clothing  24.99
2           3   Stainless Steel Water Bottle      Home & Garden  19.99
3           4          Leather Crossbody Bag        Accessories  89.99
4           5               Yoga Mat Premium  Sports & Outdoors  34.99

  launch_date       brand
0  2021-03-15   AudioTech
1  2021-04-20     EcoWear
2  2021-05-10   HydroLife
3  2021-06-01  StyleCraft
4  2021-06-15     FitZone
   sale_id  customer_id  product_id     transaction_date  quantity  \
0        1            1           1  2022-02-10 14:30:00         1
1        2            2           3  2022-02-15 10:15:00         2
2        3            3           5  2022-02-20 16:45:00         1
3        4            4           2  2022-02-25 11:20:00         3
4        5            5           4  2022-03-01 13:10:00         1

   total_amount
0         79.99
1         39.98
2         34.99
3         74.97
4         89.99

In [11]:
#Look at the customers Data Frame
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        100 non-null    int64
 1   first_name         100 non-null    object
 2   last_name          100 non-null    object
 3   age                100 non-null    int64
 4   state              100 non-null    object
 5   income             100 non-null    int64
 6   registration_date  100 non-null    object
 7   email              100 non-null    object
dtypes: int64(3), object(5)
memory usage: 6.4+ KB

In [12]:
#Look at the Products Data Frame
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    60 non-null     int64
 1   product_name  60 non-null     object
 2   category      60 non-null     object
 3   price         60 non-null     float64
 4   launch_date   60 non-null     object
 5   brand         60 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 2.9+ KB

In [13]:
# Look at the sales Data Frame
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sale_id           150 non-null    int64
 1   customer_id       150 non-null    int64
 2   product_id        150 non-null    int64
 3   transaction_date  150 non-null    object
 4   quantity          150 non-null    int64
 5   total_amount      150 non-null    float64
dtypes: float64(1), int64(4), object(1)
memory usage: 7.2+ KB

In [14]:
#Part 1: DateTime operations
# convert date columns to proper DateTime format
customers_df['registration_date'] = pd.to_datetime(customers_df['registration_date'])
products_df['launch_date'] = pd.to_datetime(products_df['launch_date'])
sales_df['transaction_date'] = pd.to_datetime(sales_df['transaction_date'])

In [15]:
print(customers_df['registration_date'].head())
print(products_df['launch_date'].head())
print(sales_df['transaction_date'].head())

0   2022-01-15
1   2022-01-22
2   2022-02-03
3   2022-02-14
4   2022-02-28
Name: registration_date, dtype: datetime64[ns]
0   2021-03-15
1   2021-04-20
2   2021-05-10
3   2021-06-01
4   2021-06-15
Name: launch_date, dtype: datetime64[ns]
0   2022-02-10 14:30:00
1   2022-02-15 10:15:00
2   2022-02-20 16:45:00
3   2022-02-25 11:20:00
4   2022-03-01 13:10:00
Name: transaction_date, dtype: datetime64[ns]

In [28]:
#Extract useful components from the sales transaction dates: year, month, and day of week
sales_df['year'] = sales_df['transaction_date'].dt.year
sales_df['month'] = sales_df['transaction_date'].dt.month
sales_df['day_of_week'] = sales_df['transaction_date'].dt.day_name()

In [29]:
print(sales_df[['transaction_date', 'year', 'month', 'day_of_week']].head())

     transaction_date  year  month day_of_week
0 2022-02-10 14:30:00  2022      2    Thursday
1 2022-02-15 10:15:00  2022      2     Tuesday
2 2022-02-20 16:45:00  2022      2      Sunday
3 2022-02-25 11:20:00  2022      2      Friday
4 2022-03-01 13:10:00  2022      3     Tuesday

In [30]:
#Identified sales date range using .min() and .max()
earliest_date = sales_df['transaction_date'].min()
latest_date = sales_df['transaction_date'].max()

In [19]:
print("Earliest transaction date:", earliest_date)

Earliest transaction date: 2022-02-10 14:30:00

In [20]:
print("Latest transaction date:", latest_date)

Latest transaction date: 2024-03-05 10:30:00

In [31]:
#Find the busiest day of the week for sales (by counting transactions)
busiest_day = sales_df['day_of_week'].value_counts()

In [25]:
print("Transactions by day of week:")
print(busiest_day)

Transactions by day of week:
day_of_week
Friday       24
Tuesday      22
Thursday     21
Sunday       21
Saturday     21
Wednesday    21
Monday       20
Name: count, dtype: int64

In [33]:
print("Busiest day:", busiest_day.idxmax())

Busiest day: Friday

In [32]:
#Determine which month had the most transactions
#count transactions per month
monthly_counts = sales_df['month'].value_counts().sort_index()

In [34]:
print("Transactions per month:")
print(monthly_counts)

Transactions per month:
month
1     10
2     16
3     14
4     12
5     12
6     12
7     12
8     12
9     12
10    12
11    12
12    14
Name: count, dtype: int64

In [35]:
#Month with most transactions
most_transaction_month = monthly_counts.idxmax()
print("Month with the most transactions:", most_transaction_month)

Month with the most transactions: 2

In [37]:
#Count how many sales happened in each year
sales_per_year = sales_df['year'].value_counts()
print(sales_per_year)

year
2023    72
2022    65
2024    13
Name: count, dtype: int64

In [39]:
#Part 2. GroupBy and Aggregation
#Group products by category and calculate the average price for each category
grouped_products = products_df.groupby('category')['price'].mean()
print(grouped_products)

category
Accessories           35.073333
Clothing              52.240000
Electronics           59.990000
Home & Garden         30.156667
Sports & Outdoors    105.899091
Name: price, dtype: float64

In [40]:
#Sort by average price descending
grouped_products_sorted = grouped_products.sort_values(ascending=False)
print(grouped_products_sorted)

category
Sports & Outdoors    105.899091
Electronics           59.990000
Clothing              52.240000
Accessories           35.073333
Home & Garden         30.156667
Name: price, dtype: float64

In [41]:
#Count how many products are in each category
total_products_per_category = products_df['category'].value_counts()
print(total_products_per_category)

category
Electronics          13
Clothing             12
Home & Garden        12
Accessories          12
Sports & Outdoors    11
Name: count, dtype: int64

In [42]:
#Group customers by state and find the average age in each state
grouped_customers = customers_df.groupby('state')['age'].mean()
print(grouped_customers)

state
CA    34.10
FL    39.00
IL    37.25
NY    36.50
TX    38.30
Name: age, dtype: float64

In [44]:
#Calculate total spending per customer (sum up all their purchases)
total_spending = sales_df.groupby('customer_id')['total_amount'].sum().reset_index()
print(total_spending.head())

   customer_id  total_amount
0            1        229.98
1            2        179.96
2            3        154.98
3            4        234.95
4            5        149.98

In [46]:
#Find customers who have made the most purchases
#count the number of purchases per customer
purchase_counts = sales_df['customer_id'].value_counts()
print("Top customers by number of purchases:")
print(purchase_counts.head())

Top customers by number of purchases:
customer_id
1    2
2    2
3    2
4    2
5    2
Name: count, dtype: int64

In [49]:
#Calculate total sales revenue by month
#group by existing "month" column to calculate the total sales revenue by month
total_sales_revenue_by_month = sales_df.groupby('month')['total_amount'].sum().sort_index()
print(total_sales_revenue_by_month)

month
1      864.79
2     1669.66
3     1115.77
4      924.77
5     1177.79
6      986.68
7      930.80
8      870.74
9     1150.76
10    1235.80
11    1022.76
12    1458.71
Name: total_amount, dtype: float64

In [51]:
#Find the average transaction amount by day of the week
#group by existing "day_of_week" column to calculate the average transaction amount by day of the week
average_transaction_by_day = sales_df.groupby('day_of_week')['total_amount'].mean().sort_index()
print(average_transaction_by_day)

day_of_week
Friday       100.940833
Monday        90.927500
Saturday      61.121905
Sunday        99.551429
Thursday     102.267619
Tuesday       74.028636
Wednesday     96.071905
Name: total_amount, dtype: float64

In [58]:
#Determine which product category generates the most total revenue
#Step 1: Merge sales with products to get category info
sales_with_category = sales_df.merge(products_df[['product_id', 'category']], on='product_id', how='left')

In [59]:
# Step 2: Group by category and sum total_amount
revenue_by_category = sales_with_category.groupby('category')['total_amount'].sum().sort_values(ascending=False)
print("Total revenue by product category:")
print(revenue_by_category)

Total revenue by product category:
category
Sports & Outdoors    3544.64
Electronics          3524.29
Clothing             2745.39
Accessories          2053.25
Home & Garden        1541.46
Name: total_amount, dtype: float64

In [69]:
#Part 3: Basic Data Insights
#Find which state has the most customers
#1.Count customers per state
state_counts = customers_df['state'].value_counts()

In [73]:
#2 Show the state with the most customers
# Get the max count
max_count = state_counts.max()

In [72]:
# Filter all states with that count
top_states = state_counts[state_counts == max_count]
print("States with the most customers:")
print(top_states)

States with the most customers:
state
CA    20
NY    20
TX    20
FL    20
IL    20
Name: count, dtype: int64

In [74]:
#Identify the top 5 customers by total spending
#Step 1: find total spending per customer
customer_spending = sales_df.groupby('customer_id')['total_amount'].sum().reset_index()

In [75]:
#Step 2: Merge with customer details
top_customers = customer_spending.merge(customers_df, on='customer_id', how='left')

In [76]:
# Step 3: Sort and select top 5
top_5_customers = top_customers.sort_values(by='total_amount', ascending=False).head(5)
print(top_5_customers[['customer_id', 'first_name', 'last_name', 'total_amount']])

    customer_id first_name last_name  total_amount
30           31     Daniel  Gonzalez        379.97
12           13    Matthew    Harris        359.96
40           41     Joseph     Evans        329.98
83           84     Janice  Gonzales        319.98
29           30   Kimberly     Baker        284.98

In [78]:
#Determine which day of the week has the highest average transaction value
# Let's use the existing "average_transaction_by_day" to find the highest average trasaction value
# Find the top day
top_day = average_transaction_by_day.idxmax()
top_value = average_transaction_by_day.max()
print(f"The highest average transaction value is on {top_day} (${top_value:.2f}).")

The highest average transaction value is on Thursday ($102.27).